{% extends "base.html" %}
{% load static %}

{% block space_invaders_css %}
    <link rel="stylesheet" href="{% static 'css\pacman\pacman.css' %}">
{% endblock %}

{% block space_invaders_js %}
    <script src="{% static 'js\pacman\pacman.js' %}"></script>
{% endblock %}

{% block title %}pac-man{% endblock %}

{% block content %}
<div class="container mb-4 text-center justify-content-center">
    <div class="row">
        <div class="col-12 justify-content-center">
            <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711740827/pacman-logo_ylvrpu.png' }}" alt="PacMan Logo" class="img-fluid">
            <h4>Beta</h4>
            <h5 class="bg-warning text-dark">Level: <span id="level"></span> </h5>
            <h5 class="bg-danger">Score: <span id="score"></span> </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center">
            <button class="bg-light mb-2 w-100" id="startGameButton">Start Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center" >
            <button class="bg-light mb-2 w-100" style="display: none;" id="restartGameButton">Restart Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center" >
           
           
                <form class="form mt-6" method="post" id="scoreForm" style="display: none;">
                    {% csrf_token %}
                    <div class="form-group d-flex justify-content-center"> 
                        <input type="text" name="user_name" placeholder="Enter your name" class="mt-2 styled-input border-4 border-success rounded">
                    </div>
                    <div class="form-group"> 
                        <input type="hidden" name="score" id="scoreInput">
                    </div>
                    <div class="form-group d-flex justify-content-center"> 
                        <button type="submit" class="btn btn-success text-white w-50">Submit</button>
                    </div>
                </form>
          

        </div>
    </div>

    <div class="row mb-2" style="display: none;" id="startGame">
        <div class="col-12 d-flex justify-content-center">
            <div class="grid"></div>      
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center">
            <div class="controller">
                <button class="btn btn-sm btn-warning text-light d-lg-none" id="moveUpBtn">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
                <div class="horizontal">
                    <button class="btn btn-sm btn-primary d-lg-none" style="margin-right: 30px;" id="moveLeftBtn">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button class="btn btn-sm btn-danger d-lg-none" style="margin-left: 30px;" id="moveRightBtn">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                <button class="btn btn-sm btn-success d-lg-none" id="moveDownBtn">
                    <i class="fa-solid fa-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}