{% extends "base.html" %}
{% load static %}

{% block space_invaders_css %}
    <link rel="stylesheet" href="{% static 'css\space_invaders\space_invader.css' %}">
{% endblock %}

{% block space_invaders_js %}
    <script src="{% static 'js\space_invaders\space_invaders.js' %}"></script>
{% endblock %}

{% block title %}Space Invaders{% endblock %}

{% block content %}
<div class="container mb-4 text-center justify-content-center" style="margin-bottom: 100px;">      
    <div class="row">
        <div class="col col-md-12">
            <div class="card text-white text-center leaderboard h-100" style="margin: 0; margin-bottom: 100px;">
               
                    <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711740827/pacman-logo_ylvrpu.png' }}" alt="Space Invaders Logo" class="img-fluid">

                <a href="{% url 'pacman' %}" class="btn btn-lg btn-light border border-danger mt-4 text-dark"><strong>Return to Game</strong></a>
                <h2 class="leaderboard text-white text-decoration-underline"><strong>Leaderboards</strong></h2>
                <ul class="leaderboard">
                    {% for game_score in game_scores %}
                        <li><h5><strong>{{ game_score.user_name }} - {{ game_score.score }}</strong></h5><p><small class="small-text">{{ game_score.created_at }}</small></p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 100px;">
        <div class="col col-md-12 text-center">
            <div class="pagination">
                <span class="step-links">
                    {% if game_scores.has_previous %}
                        <a href="?page=1" class="btn btn-warning">&laquo; first</a>
                        <a href="?page={{ game_scores.previous_page_number }}" class="btn btn-warning">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ game_scores.number }} of {{ game_scores.paginator.num_pages }}.
                    </span>

                    {% if game_scores.has_next %}
                        <a href="?page={{ game_scores.next_page_number }}" class="btn btn-warning">next</a>
                        <a href="?page={{ game_scores.paginator.num_pages }}" class="btn btn-warning">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}