{% extends "base.html" %}
{% load static %}

{% block space_invaders_css %}
    <link rel="stylesheet" href="{% static 'css\pacman\pacman.css' %}">
{% endblock %}

{% block space_invaders_js %}
    <script src="{% static 'js\pacman\pacman.js' %}"></script>
{% endblock %}

{% block title %}pac-man{% endblock %}

{% block content %}
<div class="container mb-4 text-center justify-content-center">
    <div class="row mb-2">
        <div class="col-12 justify-content-center">
            <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711740827/pacman-logo_ylvrpu.png' }}" alt="PacMan Logo" class="img-fluid mt-2">
            <h3 class="bg-warning text-dark mt-4">Level: <span id="level"></span> </h3>
            <h3 class="bg-danger">Score: <span id="score"></span> </h3>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center">
            <div class="grid"></div>      
        </div>
    </div>
</div>
{% endblock %}