{% extends "base.html" %}
{% load static %}

{% block space_invaders_css %}
    <link rel="stylesheet" href="{% static 'css\pacman\pacman.css' %}">
{% endblock %}

{% block space_invaders_js %}
    <script src="{% static 'js\pacman\pacman.js' %}"></script>
{% endblock %}

{% block title %}pac-man{% endblock %}

{% block content %}
<div class="container mb-4 text-center justify-content-center">
    <div class="row">
        <div class="col-12 justify-content-center">
            <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711740827/pacman-logo_ylvrpu.png' }}" alt="PacMan Logo" class="img-fluid mt-2">
            <h4>Beta</h4>
            <h5 class="bg-warning text-dark mt-4">Level: <span id="level"></span> </h5>
            <h5 class="bg-danger">Score: <span id="score"></span> </h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center">
            <div class="grid"></div>      
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-items-center justify-content-center">
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-items-center justify-content-center">
            <button class="btn btn-lg btn-info d-lg-none" id="moveLeftBtn" ><i class="fa-solid fa-left-long" style="color: #ffffff;"></i></button>
            <button class="btn btn-lg btn-warning d-lg-none" id="moveUpBtn" style="margin-right: 70px;"><i class="fa-solid fa-up-long pl-1 pr-1 text-center" style="color: #ffffff;"></i></button>
            <button class="btn btn-lg btn-success d-lg-none" id="moveDownBtn"><i class="fa-solid fa-down-long pl-1 pr-1" style="color: #ffffff;"></i></button>
            <button class="btn btn-lg btn-danger d-lg-none" id="moveRightBtn"><i class="fa-solid fa-right-long" style="color: #ffffff;"></i></button>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-items-center justify-content-center">
           
        </div>
    </div>
</div>
{% endblock %}