{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container mb-4">
        <div class="row">
           <div class="col">
                <h1>Retro Games</h1>
                <h3>User Profile</h3>
                <br>
           </div> 
        </div>

        <div class="row mb-4 text-dark">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="border-bottom: dashed black 2px;"><i class="fa-solid fa-user-ninja" style="color: #ff0000;"></i> Username:</h5>
                        <p class="card-text"><strong>{{ profile.user.username }}</strong></p> 
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="border-bottom: dashed black 2px;"><i class="fa-solid fa-comment-dots fa-flip-horizontal" style="color: #ff0000;"></i> Bio: </h5>
                        <p class="card-text">{{ profile.bio }}</p>
                        {% if request.user == profile.user %}
                            <a href="{% url 'edit_bio' %}" class="btn btn-primary btn-sm">Edit Bio</a>
                        {% endif %}
                    </div>
                </div>
            </div>
         </div>
       
         <div class="row text-center justify-content-center">
            <div class="col">
                <h3>Game Score Records <i class="fa-solid fa-dice" style="color: #ff00dd;"></i></h3>
                <br>
            </div> 
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title text-center">Space Invaders</h5>
                        <p class="text-center">Your Recorded Scores</p>
                        <ul class="list-unstyled" id="game-scores">
                            {% for game_score in profile.user.gamescore_set.all %}
                                {% if forloop.counter <= 4 %}
                                    <li class="border-bottom border-dark mb-2"><strong>Score: {{ game_score.score }}</strong> <br>{{ game_score.created_at }}</li>
                                {% else %}
                                    <li class="border-bottom border-dark d-none game-one-more-scores mb-2"><strong>Score: {{ game_score.score }}</strong> <br>{{ game_score.created_at }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if profile.user.gamescore_set.all.count > 4 %}
                            <button class="btn btn-primary btn-block mt-3" id="expandButtonGameOne">Show More Scores</button>
                        {% endif %}
                        <button class="btn btn-secondary btn-block mt-3 d-none" id="closeButtonGameOne">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title text-center">GAME COMING SOON!</h5>
                        <p class="text-center">Currently in Development</p>
                        <ul class="list-unstyled">
                            <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711487172/coming-soon_izekzy.png' }}" alt="Space Invaders Logo" class="img-fluid">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-center">GAME COMING SOON!</h5> 
                        <p class="text-center">Currently in Development</p>
                        <ul class="list-unstyled">
                            <img src="{{ 'https://res.cloudinary.com/drmbgol8n/image/upload/v1711487172/coming-soon_izekzy.png' }}" alt="Space Invaders Logo" class="img-fluid">
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <br>
    <br>
    <br>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var expandButtonGameOne = document.querySelector("#expandButtonGameOne");
        var closeButtonGameOne = document.querySelector("#closeButtonGameOne");
        var hiddenScoresGameOne = document.querySelectorAll(".game-one-more-scores");

        expandButtonGameOne.addEventListener("click", function() {
            hiddenScoresGameOne.forEach(function(score) {
                score.classList.remove("d-none");
            });
            expandButtonGameOne.classList.add("d-none"); 
            closeButtonGameOne.classList.remove("d-none"); // Show the close button
        });

        closeButtonGameOne.addEventListener("click", function() {
            hiddenScoresGameOne.forEach(function(score) {
                score.classList.add("d-none");
            });
            closeButtonGameOne.classList.add("d-none"); // Hide the close button
            expandButtonGameOne.classList.remove("d-none"); // Show the expand button
        });
    });
    </script>
{% endblock %}


