@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

body {
    background-color: black; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

body, h1 {
    color: rgb(134, 165, 42) !important;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}

.grid div {
    justify-content: center;
    width: 40px;
    height: 40px;
}

/* Shooter */
.shooter {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1710974082/static/images/space-invaders/shooter.21edd0304df4.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

/* Laser */
.laser {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1710974081/static/images/space-invaders/laser.3d9cee9fead0.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

/* Invader */
.invader {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1710974079/static/images/space-invaders/alien.e0880135587b.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

/* Boom */
.boom {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1710974080/static/images/space-invaders/boom.2397da6be153.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
    animation: explode 0.3s ease-in-out; 
}

@keyframes explode {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.leaderboard {
    padding-right: 10px; 
    padding-left: 10px; 
    list-style-type: none;
    padding-top: 10px;
    font-family: "Ojuju", sans-serif;
}

.scoreboard {
    padding-right: 10px; 
    padding-left: 10px; 
    font-family: "Ojuju", sans-serif;
}

.card {
    box-shadow: 0px 50px 50px rgba(200, 27, 27, 0.7);
    border: red 5px solid;
    background-color: black;
}

.styled-input {
    background-color: #f0f0f0;
    border: 2px solid #383737;
    padding: 7px;
    width: 50%;
    text-align: center;
}

.small-text {
    font-size: 0.75rem; 
}

@media screen and (max-width: 768px) {
    .grid {
        width: 375px;
        height: 375px;
    }
    .grid div {
        justify-content: center;
        width: 25px;
        height: 25px;
    }
}