
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aqua;
  }

body {
  background-color: black;
}

body, h1{
    color:rgb(246, 245, 247);
  }

.header-fonts {
  font-family: "Gemunu Libre", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
  