.grid {
    width: 568px;
    height: 568px;
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);

}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(255, 230, 0);
    border: 7px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(115, 11, 252);
    border: 1px solid rgb(0, 0, 0);
}

.power-pellet {
    background-color: rgb(255, 230, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}

.blinky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/blinky_odu8me.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.pinky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/pinky_hb9xlb.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.inky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/inky_bcvakh.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.clyde {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/clyde_flvs3e.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.pac-man {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711880857/pac-man_lq3ncq.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.scared-ghost {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/scared-ghost_jefaag.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}