@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

body {
    font-family: "Ojuju", sans-serif;
}

.grid {
    width: 568px;
    height: 568px;
    border: solid rgb(255, 2, 2);
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);

}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(255, 230, 0);
    border: 7px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(240, 193, 5);
    border: 1px solid rgb(231, 231, 231);
}

.power-pellet {
    background-color: rgb(255, 230, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}

.blinky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/blinky_odu8me.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.pinky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/pinky_hb9xlb.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.inky {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/inky_bcvakh.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.clyde {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/clyde_flvs3e.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.pac-man {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711880857/pac-man_lq3ncq.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.scared-ghost {
    background-image: url("https://res.cloudinary.com/drmbgol8n/image/upload/v1711882200/scared-ghost_jefaag.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
}

.no-border {
    border: none;
    background-color: black;
}

.controller {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.horizontal {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}

.btn-controler {
    margin: 10px;
    width: 70px;
    height: 55px;
    border-radius: 10%;
    border: rgb(255, 255, 255) solid 2px;
}

.btn i {
    font-size: 12px;
}

.btn:hover {
    background-color: #555;
}
.leaderboard {
    padding-right: 10px; 
    padding-left: 10px; 
    list-style-type: none;
    padding-top: 10px;
    font-family: "Ojuju", sans-serif;
}

.scoreboard {
    padding-right: 10px; 
    padding-left: 10px; 
    font-family: "Ojuju", sans-serif;
}

.card {
    box-shadow: 0px 50px 50px rgba(200, 27, 27, 0.7);
    border: red 5px solid;
    background-color: black;
}
.styled-input {
    background-color: #f0f0f0;
    border: 2px solid #383737;
    padding: 7px;
    width: 50%;
    text-align: center;
}

.small-text {
    font-size: 0.75rem; 
}

@media screen and (max-width: 768px) {
    .grid {
        width: 368px;
        height: 368px;
    }
    .grid div {
        width: 12.9px;
        height: 12.9px;
    }
    .pac-dot {
        background-color: rgb(255, 230, 0);
        border: 4px solid rgb(0, 0, 0);
    }
    .no-border {
        border: none;
        background-color: black;
    }
}

@media screen and (max-width: 396px) {
    .grid {
        width: 300px;
        height: 300px;
    }
    .grid div {
        width: 10.5px;
        height: 10.5px;
    }
    .pac-dot {
        background-color: rgb(255, 230, 0);
        border: 4spx solid rgb(0, 0, 0);
    }
    .no-border {
        border: none;
        background-color: black;
    }
}