{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border border-light rounded">
                <div class="card-header bg-primary text-white text-center">
                    <h1 class="mb-0">{% trans "Sign In" %}</h1>
                </div>
                <div class="card-body bg-light text-dark">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group d-flex justify-content-between">
                            <a class="btn btn-link text-warning" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                </div>
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                <div class="card-footer bg-primary text-white text-center">
                    <p class="mb-0">{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third-party accounts. Or, <a href="{{ signup_url }}" class="text-white">sign up</a>
                        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                    <ul class="list-inline mt-3">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>
                {% else %}
                <div class="card-footer bg-primary text-white text-center">
                    <p class="mb-0">{% blocktrans %}If you have not created an account yet, then please <br>
                        <a href="{{ signup_url }}" class="text-white">SIGN UP HERE</a>{% endblocktrans %}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


